.startButton{
    width: 30%;
    align-self: flex-end;
}
.title{
    color: black;
    font-size: 2vw;
    margin: 0;
    padding: 0;
}

.answersContainer{
    position: relative;
    display: inline-block;
    border:#7f7f7f  solid  3px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 0;
    margin: 0 0 1vh 0;
    
}

.questionContainer{
    margin: 1vw;
    padding: 1vw;
    border: solid black 2px;




}
.answerTitle{
    color: black;
}