.startButton{
    width: fit-content;
    align-self: end;
    padding: 0 2vw;
    background-color: #4ec263;
    float: right;
    margin: 0 0 1vw 1vw;
}
.startButton:hover{
    background-color: #3e9c4f;
    cursor: pointer;
}
.title{
    color: black;
    font-size: 2vw;
    margin: 0;
    padding: 0;
}

.answersContainer{
    position: relative;
    display: block;
    border:#7f7f7f  solid  3px;
    background-color: white;
    border-radius: 10px;
    width: 98%;
    padding: 0;
    margin: 0 0 1vh 0;
    
}

.questionContainer{
    margin: 1vw;
    padding: 1vw;
    display: block;
    border: solid black 2px;
    border-radius: 10px;
}

.selecter{
    width: 100%;
    height: 100%;
    padding: 1vw;
    margin: 0;
    font-size: 1vw;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.answersHeaderContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    margin: 0;
    border-bottom: solid black 2px;
}

.answerTitle{
    text-align:left;
    margin:0.5vh 0 0 0;
    color: black;
}