.durationPickerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    overflow: hidden;
}
.durationPickerTitle{
    font-size: 16px;
    min-width: fit-content;
}