.questionsContainer{
    display:block;
    width:100%;
    border:none;
    box-sizing: border-box;
    align-items: start;
    justify-content: start;
}

.addQuestionContainer{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1vw;
    padding: 1vh 1vw;
    box-sizing: border-box;
}

.addQuestionButton{
    background-color: #4CAF50;
    padding: 15px 32px;
    margin: 0;
    text-align: center;
    justify-content: center;
    width: fit-content;
    min-width: fit-content;
    font-size: 16px;
    cursor: pointer;
}
.addQuestionButton:hover{
    background-color: #45a049;
}

.questionContainer{
    margin: 0 1vw 1vh 1vw;
    box-sizing: border-box;
    display: flex; 
    justify-content: start;
    gap:2vw;
    width: 96%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
}

.questionMainParramContainer{
    
    box-sizing: border-box;
    display: block; 
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
    border-right: 1px solid black;
}
.questionOptionsContainer{
    display: block;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 1vh 1vw;
    overflow:auto;
    height: fit-content;
    box-sizing: border-box;
}


.questionParram{
    text-align: start;
    color: grey;
    font-size:20px;
}

.filterContainer{
    display: flex;
    justify-content: center;
    gap: 1vw;
    padding: 1vh 1vw;
    box-sizing: border-box;
    border-bottom: 3px solid black;
    margin-bottom: 2vh;
}

.filterInput{
    width: 100%;
    height: fit-content;
    align-self: center;
    font-size: 16px;
}

.resultContainer{
    display: flex;
    gap: 2vw;
    justify-content: center;
    border: 1px solid black;
}
