.background{
    padding: 2vh;
    margin: 0 auto;
    width: 50vh;
    border-radius: 20px;   
    height: inherit;
    background-color: #ffffff;
}
h{
    padding-top: 2vh;
    font-size: 64px;
    font-weight: bold;
    color:black;
}
h2{
    padding: 0;
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    color:#7A7A7A;
}

form{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items:flex-start;

}
.parrameterBox{
    padding-top: 1vh;
    padding-left: 3vh;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
}
input{
    color:black;
    border-radius: 10px;   
    width: 70%;
    height: 2.5vh;
    border: 1px solid #7a7a7a;
    padding-left: 1vh;
}

input:hover{
    border-color: black;       
}

button{
    margin-top: 8vh;
    height: 4.5vh;
    align-self: center;
    border:0;
    border-radius: 25px;
    background-color: #64B3C9;
    color:#ffffff;
    width: 70%;
    font-size: 24px;
    font-weight: bold;
}
button:hover{
    background-color: #00658C;
    cursor: pointer;

}


.linkBox{
    display: inline-flex;
    align-self: center;

}
p{  
    margin-right: 1vh;
    color: #7a7a7a;
}
.signupLink{
    font-weight: bold;
}
.signupLink:hover{
    font-weight: bold;
    color:black;
    cursor: pointer;
}
.LinkContainer{
    position: absolute;
    top:2vh;
    left: 2vh;
    border-radius: 20px; 
    width: fit-content; 
    height: fit-content;
    background-color: #ffffff;
}
.homeLink{
    font-size: 22px;
    font-weight: bold;
    color:#000000;
    padding: 2vh;
}
.homeLink:hover{
    color:#7A7A7A;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  
    background-color: #00658C;
    height: 100vh;
}

.error{
    color: red;
    font-size: 16px;
    margin-top: 1vh;
    align-self: left;
}